* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
}

.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-switch-wrapper {
  position: absolute;
  top: 15px;
  right: 25px;
}

.switch-mode {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-mode input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fb0d3e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fb0d3e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.site-title {
  text-align: center;
  margin-bottom: 50px;
}

.card-item {
  width: 350px;
  height: 500px;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.card-item__hp {
  position: absolute;
  top: 20px;
  right: 30px;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 700;
  background-color: #fff;
}

.card-item__hp--label {
  font-size: 12px;
  font-weight: 400;
}

.card-item__image {
  width: 250px;
  max-height: 300px;
  object-fit: contain;
  align-self: center;
}

.card-item__title {
  font-size: 24px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.card-item__title::first-letter {
  text-transform: capitalize;
}

.card-item__stats-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  align-items: center;
}

.card-item__single-stats {
  text-align: center
}

.card-item__stats-name {
  font-size: 13px;
}

.card-item__stats-value {
  font-size: 20px; 
  font-weight: 700;
}

.pokeball-btn {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50px;
  background: linear-gradient(0deg, 
    #fff 0%, 
    #fff 50%,
    #fb0d3e 50%,
    #fb0d3e 100%
  );
  cursor: pointer;
  margin-top: 50px;
}

.pokeball-btn::before {
  content: '';
  width: 100%;
  background-color: #111;
  height: 20px;
  display: block;
}

.pokeball-btn::after {
  content: '';
  background-color: #fff;
  position: absolute;
  top: 17px;
  left: 10px;
  width: 20px;
  height: 9px;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.pokeball-btn .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeball-btn .circle::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid #111;
}